.product_section{
    max-width: 1000px;
    margin: 0 auto;
    min-height: 1100px;
  }
  .product_section h2{
    text-align: center;
  }
  .product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }  
  
  .search{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    margin: 0px;
  }
  .search h3{
    justify-self: start;
    font-size: 24px;
  }
  
  .search_block{
    justify-self: center;
    align-self: center;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    padding: 0px;
    width: 250px;
    height: 27px;
    padding-top: 4px;
    padding-left: 14px;
    margin-bottom: 5px;
    
  }
  .search_block:hover{
    border: 1px solid #001AFF;
  }
  
  .search_block img{
    width: 13px;
    margin-right: 15px;
  }
  .search_block input{
    border: none;
    font-size: 16px;
    
  }
  .search_block input:focus-visible{
    outline: none;
    border-bottom: 1px solid #001AFF;
  }
  .filter_btn{
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    padding: 8px;
    width: 265px;
    height: 0px;
    padding-bottom: 24px;
    color: #9F9F9F;
  }
  .filter_btn:hover{
    border: 1px solid #001AFF;
  }
  
  
  