.cart_item{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: 1px solid #9d9d9d;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 20px;
  }
  .cart_img{
    width: 70px;
    align-self: center;
  }

  .close_btn{
    width: fit-content;
    justify-self: end;
    align-self: center;
    padding: 10px 12px 10px 12px;
    color: #9d9d9d;
    background-color: white;
    border: 1px solid grey;
    border-radius: 12px;
    cursor: pointer;
  }
  .cart_price{
    font-weight: bold;
    margin-top: 5px;
  }
  .text{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
  }
  .description{
    margin: 0 ;
  }
  .cart_title{
    margin: 0;
  }

